@page "/Eliminarservicio/{CurrentID}"
@using Final.Data
@inject ProductoServicio2 Service
@inject NavigationManager NavigationManager

<h2>Delete Producto</h2>
<hr />
<h3>Estas seguro que quieres borrar esto?</h3>
<div class="row">
    <div class="form-group col-md-4">
        <label> ID:</label>
        <label>@servicio.IdServicio</label>
    </div>
    <div class="form-group col-md-4">
        <label>Nombre del servicio</label>
        <label>@servicio.Nombre_Servicio</label>
    </div>
    <div class="form-group col-md-4">
        <label>Precio del Servicio:</label>
        <label>@servicio.Precio_servicio</label>
    </div>
    <div class="form-group col-md-4">
        <label>Fecha:</label>
        <label>@servicio.Fecha</label>
    </div>
    <div class="form-group col-md-4">
        <label>Descripcion:</label>
        <label>@servicio.Descripcion</label>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@BorrarServicio" value="Delete" />
            <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />

        </div>

    </div>

</div>

@code {
    [Parameter]
    public string CurrentID { get; set; }
    Servicio servicio = new Servicio();


    protected override async Task OnInitializedAsync()
    {
       servicio = await Task.Run(() => Service.GetServicioById(Convert.ToInt32(CurrentID)));

    }

    protected void BorrarServicio()
    {
        Service.DeleteServicio(servicio);
        NavigationManager.NavigateTo("servicioInfo");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("servicioInfo");

    }

}
