@page "/ProductoInfo"
@using Final.Data
@inject ProductoService Service

<NavLink class="nav-link" href="AddProducto">
    <span class="oi oi-plus" aria-hidden="true"></span>&nbsp; Agregar Producto

</NavLink>

<h1>Almacen de Productos </h1>

@if (product == null)
 {
    <p><em>Loading.....</em></p>

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ProductoId</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var prop in product)
            {
                <tr>
                    <td>@prop.IdProducto</td>
                    <td>@prop.Nombre</td>
                    <td>@prop.Cantidad</td>
                    <td>@prop.Fecha</td>
                    <td>@prop.Descripcion</td>
                    <td>
                        <a class="nav-link" href="EditProducto/@prop.IdProducto">
                            <span class="oi oi-pencil" aria-hidden="true"></span>Edit
                        </a>
                        <a class="nav-link" href="DeleteProducto/@prop.IdProducto">
                            <span class="oi oi-trash" aria-hidden="true"></span>Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}


@code {

   List<Producto> product;

    protected override async Task OnInitializedAsync()
    {
        product = await Task.Run(() => Service.GetProductos());

    }


}